// colors
$headerBgColor: #0c0c0c;
$descriptionLiteColor: #808080;
$headerLinkColor: #fff4d9;
$loginBgColor: #ffd266;
$easySellColor: #c4d600;
$infoDesc: #b8b8b8;
$ourPlatformColor: #ff6b63;
$whiteColor: #fff;
$transparent: transparent;
$infoCartColor: #181818;
$cartImgColor: #242424;
$cartColor: #02b5e2;
$footerLinkColor: #868686;
